*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.btn{
    padding: 10px;
    font-size: 30px;
}
#yash{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: rgb(222, 210, 234);
    margin: 1% auto;
}
