.box{
    border: 20px solid brown;
    padding: 20px 50px;
}
h1{
    color: green;
}
nav{
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid grey;
    margin: 20px;
}


.active{
    color: green;
    border: 5px solid teal;
}
.notActive{
    color: black;
}